<p>line-item-edit works!</p>
<header>
    <h1>Line Items:</h1>
</header>

<body>
    
    <div class="card-container">
        <div class="col-sm-6">
            <div class="card large">
                <section class="section dark">
                    <p>Photo Link : {{lineItem.product.photoPath}}</p>
                    <h3 class="strong">
                    <strong>{{lineItem.product.name}}</strong>
                    </h3>
                    <p>Part Number : {{lineItem.product.partNbr}}</p>
                    <p>Vendor : {{lineItem.product.vendor.name}}</p>
                    <p>Unit : {{lineItem.product.unit}}</p>
                    <p>Price : {{lineItem.product.price | currency: 'USD' : 'symbol' : '0.0-2'}}</p>
                    <label for="quantity">Quantity :</label> 
                    <input [(ngModel)]="lineItem.quantity" type="text" name="quantity" placeholder="enter quantity"><br>
                    <button (click)="update()">Save</button>
                </section>
            </div>
        </div>
    </div>

</body>
