<header>
<app-menu></app-menu>
</header>

<body>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ pageTitle }}</h5>

        
        <a routerLink="/request/create">
            <button type="button">+ NEW REQUEST</button>
        </a>
               
          
           
        <table class="table">  
            <thead>

                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Justification</th>
                    <th scope="col">Submitted Date</th>
                    <th scope="col">Date Needed</th>
                    <th scope="col">Delivery Mode</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                </tr> 

            </thead>

            <tbody>

                <tr *ngFor="let request of requests">
                    <td scope="row">{{ request.description }}</td>
                    <td scope="row">{{ request.justification }}</td>
                    <td scope="row">{{ request.submittedDate | date}}</td>
                    <td scope="row">{{ request.dateNeeded | date}}</td>
                    <td scope="row">{{ request.deliveryMode }}</td>
                    <td scope="row">{{ request.status }}</td>
                    <td scope="row">{{ request.total }}</td>
                    <td> 
                        <a routerLink="/request/detail/{{ request.id }}">
                        <img class="icon" src="../../../assets/detail.png"></a>
                    </td>

                    <td>
                        <a routerLink="/request/edit/{{ request.id }}">
                            <img class="icon" src="../../../assets/edit.png"></a>
                    </td>
                </tr>

            </tbody>
        </table> 
    </div>
</div>


<app-footer></app-footer>

</body>