<p>{{pageTitle}} works!</p>

<header>
    <app-menu></app-menu>
    </header>
    
    <body>
    
        <div class="form-container">
            <form class="form">
    
                <label for="photoPath">Photo Link :</label>
                <input [(ngModel)]="product.photoPath" type="text" name="photoPath" placeholder="enter url">
                <br>
    
                <label for="partNbr">Part Number :</label>
                <input [(ngModel)]="product.partNbr" type="text" name="partNbr" placeholder="enter part number">
                <br>
    
                <label for="name">Product Name :</label>
                <input [(ngModel)]="product.name" type="text" name="name" placeholder="enter product name">
                <br>
    
                <label for="vendor">Vendor :</label>
                <select [(ngModel)]="product.vendor.id" name="vendor">
                    <option value="" selected>select vendor</option>
                    <option *ngFor="let vendor of vendors"  [value]="vendor.id">{{ vendor.name }}</option>
                </select><br>

                <label for="unit">Unit :</label>
                <input [(ngModel)]="product.unit" type="text" name="unit" placeholder="enter unit">
                <br>
    
                <label for="price">Price :</label>
                <input [(ngModel)]="product.price" type="text" name="price" placeholder="enter price">
                <br>
    
                <button type="button" (click)="create()">Save</button>
                <button routerLink="/product/list">Cancel</button>
    
            </form>
        </div>
    
    <app-footer></app-footer>    
    </body>
    
  