<p>line-item-list works!</p>

<body>

    <table class="table">  
        <thead>
            <tr>
                <th class="headers" scope="col">Part Number</th>
                <th class="headers" scope="col">Product Description</th>
                <th class="headers" scope="col">Vendor</th>
                <th class="headers" scope="col">Price</th>
                <th class="headers" scope="col">Quantity</th>
                <th class="headers" scope="col">Total</th>
                <th class="headers" scope="col"></th>
                <th class="headers" scope="col"></th>
                <th class="headers" scope="col"></th>
                
                
            </tr>   
        </thead>

        <tbody>
            <tr *ngFor="let lineItem of lineItems">
                <td class="cells" scope="row" name="lineItem.product.partNbr">{{ lineItem.product.partNbr }}</td>
                <td class="cells" scope="row" name="lineItem.product.name">{{ lineItem.product.name }}</td>
                <td class="cells" scope="row" name="lineItem.product.vendor.name">{{ lineItem.product.vendor.name }}</td>
                <td class="cells" scope="row" name="lineItem.product.price">{{ lineItem.product.price | currency: 'USD' : 'symbol' : '0.0-2' }}</td>
                <td class="cells" scope="row" name="lineItem.quantity">{{ lineItem.quantity }}</td>
                <td class="cells" scope="row" name="total">{{ lineItem.quantity * lineItem.product.price | currency: 'USD' : 'symbol' : '0.0-2'}}</td>
                <!-- <td class="cells" scope="row">{{ getFormattedTotal() }}</td> -->
                
                <td id="icons"> 
                    <a routerLink="/line-item/detail/{{lineItem.id}}">
                    <img class="icon" src="../../../assets/detail.png"></a>
                </td>

                <td id="icons">
                    <a routerLink="/line-item/edit/{{lineItem.id}}">
                        <img class="icon" src="../../../assets/edit.png"></a>
                </td>

                <td id="icons">
                    <a routerLink="`line-item/delete/{{lineItem.id}}">
                    <a (click)="delete()">
                        <img class="icon" src="../../../assets/delete.png">
                    </a>
                </a>
                </td>

            </tr>

        </tbody>
    </table> 
<div class="form-group">
    <label for="product">Add a Product :</label>
    <select class="form-control" id="product" name="product"
     [(ngModel)]="lineItem.product.id">
        <option value="" selected>select product</option>
        <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
    </select>
    <br>
</div>
    <label for="quantity">Quantity :</label>
    <input [(ngModel)]="lineItem.quantity" type="text" name="quantity"><br>

    <button (click)="create()">Add Item To List</button>

</body>