<p>line-item-detail works!</p>
<body>

<table class="table">  
    <thead>
        <tr>
            <th class="headers" scope="col">Part Number</th>
            <th class="headers" scope="col">Product Description</th>
            <th class="headers" scope="col">Vendor</th>
            <th class="headers" scope="col">Price</th>
            <th class="headers" scope="col">Quantity</th>
            <th class="headers" scope="col">Total</th>
            
            
        </tr>   
    </thead>

    <tbody>
        <tr *ngFor="let lineItem of lineItems">
            <td class="cells" scope="row">{{ lineItem.product.partNbr }}</td>
            <td class="cells" scope="row">{{ lineItem.product.name }}</td>
            <td class="cells" scope="row">{{ lineItem.product.vendor.name }}</td>
            <td class="cells" scope="row">{{ lineItem.product.price | currency: 'USD' : 'symbol' : '0.0-2' }}</td>
            <td class="cells" scope="row">{{ lineItem.quantity }}</td>
            <td class="cells" scope="row">{{ lineItem.quantity * lineItem.product.price | currency: 'USD' : 'symbol' : '0.0-2' }}</td>
        </tr>

    </tbody>
</table> 

</body>