<p>{{pageTitle}} works!</p>

<header>
<app-menu></app-menu>
</header>
<body>

<div class="form-container">
    <form class="form">

        <label for="photoPath">Photo Link :</label>
        <input [(ngModel)]="product.photoPath" type="text" name="photoPath" placeholder="{{product.photoPath}}"><br>

        <label for="partNbr">Part Number :</label>
        <input [(ngModel)]="product.partNbr" type="text" name="partNbr" placeholder="{{product.partNbr}}"><br>

        <label for="name">Name :</label>
        <input [(ngModel)]="product.name" type="text" name="name" placeholder="{{product.name}}"><br>

        <label for="vendor">Vendor :</label>
        <select [(ngModel)]="product.vendor" name="vendor" placeholder="select vendor">
            <option value="" selected>select vendor</option>
            <option>Targette</option>
            <option>Meiyer</option>
            <option>Hobby Foyer</option>
        </select><br>

        <label for="unit">Unit :</label>
        <input [(ngModel)]="product.unit" type="text" name="unit" placeholder="{{product.unit}}"><br>

        <label for="price">Price :</label>
        <input [(ngModel)]="product.price" type="text" name="price" placeholder="{{product.price | currency: 'USD' : 'symbol' : '0.0-2'}}"><br>

        <button (click)="update()">Save</button>
        <button routerLink="/product/list">Back</button>

    </form>
</div>



<app-footer></app-footer>
</body>