<p>{{pageTitle}} works!</p>
<app-menu></app-menu>



<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ pageTitle }}</h5>

        <a routerLink="product/create">
          <button text="+ NEW PRODUCT">+ NEW PRODUCT</button>   
        </a>   

        <button>
            <a routerLink="/product/create">+ NEW PRODUCT</a></button>
        <table class="table">  
            <thead>
                <tr>
                    <th scope="col">Part Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                </tr>   
            </thead>

            <tbody>
                <tr *ngFor="let product of products">
                    <td scope="row">{{ product.partNbr }}</td>
                    <td scope="row">{{ product.name }}</td>
                    <td scope="row">{{ product.price }}</td>
                    <td scope="row">{{ product.unit }}</td>
                    <td scope="row">{{ product.photoPath }}</td>
                    <td scope="row">{{ product.Vendor.name }}</td>
                    <td> 
                        <a routerLink="/product/detail/{{ product.id }}">
                            <img class="icon" src="../../../assets/detail.png"></a></td>

                    <td></td>
                </tr>
   
            </tbody>
        </table> 
    </div>
</div>

<app-footer></app-footer>