<p>{{pageTitle}} works!</p>
<app-menu></app-menu>



<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ pageTitle }}</h5>

        <a routerLink="/product/create">
          <button text="+ NEW PRODUCT">+ NEW PRODUCT</button>   
        </a>   

        <table class="table">  
            <thead>
                <tr>
                    <th class="headers" scope="col">Part Number</th>
                    <th class="headers" scope="col">Name</th>
                    <th class="headers" scope="col">Price</th>
                    <th class="headers" scope="col">Unit</th>
                    <th class="headers" scope="col">Photo</th>
                    <th class="headers" scope="col">Vendor</th>
                    <th class="iconHeaders" scope="col">Detail</th>
                    <th class="iconHeaders" scope="col">Edit</th>
                </tr>   
            </thead>

            <tbody>
                <tr *ngFor="let product of products">
                    <td class="cells" scope="row">{{ product.partNbr }}</td>
                    <td class="cells" scope="row">{{ product.name }}</td>
                    <td class="cells" scope="row">{{ product.price | currency: 'USD' : 'symbol' : '0.0-2' }}</td>
                    <td class="cells" scope="row">{{ product.unit }}</td>
                    <td class="cells" scope="row"><img src="../../../assets/shoe.png"></td>
                    <td class="cells" scope="row">{{ product.vendor.name }}</td>
                    <td id="icons"> 
                        <a routerLink="/product/detail/{{ product.id }}">
                        <img class="icon" src="../../../assets/detail.png"></a>
                    </td>

                    <td id="icons">
                        <a routerLink="/product/edit/{{ product.id }}">
                            <img class="icon" src="../../../assets/edit.png"></a>
                    </td>
                </tr>
   
            </tbody>
        </table> 
    </div>
</div>

<app-footer></app-footer>