<header>
    <app-menu></app-menu>
    </header>
    
    <body>
    
        <div class="form-container">
            <form class="form">

                <label for="dateNeeded">Date Needed :</label>
                <input [(ngModel)]="request.dateNeeded" type="text" 
                name="dateNeeded" placeholder="YYYY-MM-DD">
                <br>
    
                <label for="description">Description :</label>
                <input [(ngModel)]="request.description" type="text" name="description" placeholder="enter description">
                <br>
    
                <label for="justification">Justification :</label>
                <input [(ngModel)]="request.justification" type="text" name="justification" placeholder="enter justification">
                <br>
    
                <label for="deliveryMode">Delivery Mode :</label>
                <select [(ngModel)]="request.deliveryMode" name="deliveryMode">
                    <option value="" selected>select delivery mode</option>
                    <option>Express</option>
                    <option>Regular</option>
                    <option>Pick-up</option>
                </select>
                <br>
    
                <button (click)="create()">Save</button>
                <button routerLink="/request/list">Cancel</button>
    
            </form>
        </div>
    
    <app-footer></app-footer>    
    </body>