<p>{{pageTitle}} works!</p>
<head>
<app-menu></app-menu>
</head>

<body>

    <div class="form-container">
        <form class="form">

            <label for="firstName">First Name :</label>
            <input [(ngModel)]="user.firstName" type="text" name="firstName" placeholder="enter first name">
            <br>

            <label for="lastName">Last Name :</label>
            <input [(ngModel)]="user.lastName" type="text" name="lastName" placeholder="enter last name">
            <br>

            <label for="phone">Phone Number :</label>
            <input [(ngModel)]="user.phone" type="text" name="phone" placeholder="enter first name">
            <br>

            <label for="email">Email Address :</label>
            <input [(ngModel)]="user.email" type="text" name="email" placeholder="enter email address">
            <br>

            <label for="username">Username :</label>
            <input [(ngModel)]="user.username" type="text" name="username" placeholder="enter username">
            <br>

            <label for="password">Password :</label>
            <input [(ngModel)]="user.password" type="text" name="password" placeholder="enter password">
            <br>

            <label for="isReviewer">Reviewer :</label>
            <input [(ngModel)]="user.isReviewer" type="checkbox"><br>

            <label for="isAdmin">Admin :</label>
            <input [(ngModel)]="user.isAdmin" type="checkbox"><br>

            <button (click)="create()">Save</button>

        </form>
    </div>

</body>

<app-footer></app-footer>