<p>{{pageTitle}} works!</p>

<head>
<app-menu></app-menu>
</head>

<body>

<div class="form-container">
    <form class="form">

        <label for="submittedDate">Submitted Date :</label>
        <input [(ngModel)]="request.submittedDate" type="text" name="submittedDate" placeholder="{{request.submittedDate | date}}"><br>

        <label for="dateNeeded">Date Needed :</label>
        <input [(ngModel)]="request.dateNeeded" type="text" name="dateNeeded" placeholder="{{request.dateNeeded | date}}"><br>

        <label for="username">Username :</label>
        <input [(ngModel)]="request.user.username" type="text" name="username" placeholder="{{request.user.username}}"><br>

        <label for="description">Description :</label>
        <input [(ngModel)]="request.description" type="text" name="description" placeholder="{{request.description}}"><br>

        <label for="justification">Justification :</label>
        <input [(ngModel)]="request.justification" type="text" name="justification" placeholder="{{request.justification}}"><br>

        <label for="deliveryMode">Delivery Mode :</label>
        <select [(ngModel)]="request.deliveryMode" name="deliveryMode">
            <option  value="" selected>select delivery mode</option>
            <option>Express</option>
            <option>Regular</option>
            <option>Pick-up</option>
        </select>
        <br>

        <label for="status">Status :</label>
        <input [(ngModel)]="request.status" type="text" name="status" placeholder="{{request.status}}" disabled><br>

        <label for="rejectionReason">Reason for Rejection :</label>
        <input [(ngModel)]="request.rejectionReason" type="text" name="rejectionReason" placeholder="{{request.rejectionReason}}"><br>

        <button (click)="update()">Save</button>
        <app-line-item-list></app-line-item-list>

    </form>
</div>

</body>
