button {
    margin: 7px;
    margin-top: 20px;
}

td, th {
    width: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.icon {
    height: 1.2rem;
}

.lineItemsHeader {
    font-size: 1.5rem;
    font-weight: 600;
}

.rejectBox {
    width: 200px;
    height:200px; 
}