<head>
<app-menu></app-menu>
</head>

<body>
    <div class="card-container">
        <div class="col-sm-6">
            <div class="card large">
                <section class="section dark">
                    <p>Submitted Date : {{request.submittedDate | date}}</p>
                    <p>Date Needed : {{request.dateNeeded | date}}</p>
                    <p>Person Requesting : {{request.user.firstName}} {{request.user.lastName}}</p>
                    <p>Description : {{request.description}}</p>
                    <p>Justification : {{request.justification}}</p>
                    <p>Delivery Mode : {{request.deliveryMode}}</p>
                    <p>Status : {{request.status}}</p>
                    <p>Reason For Rejection : {{request.rejectionReason}}</p>
                    <p class="lineItemsHeader">List of Line Items :</p>

                    <table class="table">  
                        <thead>
            
                            <tr>
                                <th scope="col">Part Number</th>
                                <th scope="col">Product Description</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr> 
            
                        </thead>
            
                        <tbody>
            
                            
                            <tr>
                                <td scope="row"> </td>
                                <td scope="row"> </td>
                                <td scope="row"> </td>
                                <td scope="row"> </td>
                                <td scope="row"> </td>
                                <td scope="row"> </td>                                 
                            </tr>
            
                        </tbody>

                    </table> 

                    <label for="rejectionReason">Reason for Rejection :</label><br>
                    <textarea type="text" class="rejectBox" name="rejectionReason" placeholder="enter reason for rejection"></textarea><br>

                    <button type="approve">Approve</button>
                    <button type="reject">Reject</button>
                </section>
            </div>
        </div>
    </div>

<footer></footer>
</body>