<p>{{pageTitle}} works!</p>

<header>
    <app-menu></app-menu>
    </header>
    
    <body>
         <div class="card-container">
            <div class="col-sm-6">
                <div class="card large">
                    <section class="section dark">
                        <p name="request.submittedDate">Submitted Date : {{request.submittedDate | date}}</p>
                        <p>Date Needed : {{request.dateNeeded | date}}</p>
                        <p>Person Requesting : {{request.user.firstName}} {{request.user.lastName}}</p>
                        <p>Description : {{request.description}}</p>
                        <p>Justification : {{request.justification}}</p>
                        <p>Delivery Mode : {{request.deliveryMode}}</p>
                        <p>Status : {{request.status}}</p>
                        <p>Reason For Rejection : {{request.rejectionReason}}</p><br>
                        
                        <button (click)="getByRequestId()">Edit Request</button>
                        <button (click)="delete()">Delete Request</button>

                        <p class="lineItemsHeader">List of Line Items :</p>

                        <app-line-item-list></app-line-item-list>


                    </section>
                </div>
            </div>
        </div>
     
    
     
    
    <app-footer></app-footer>
    </body>