<p>{{pageTitle}} works!</p>

<head>
    <app-menu></app-menu>
    </head>
    
    <body>
        <div class="card-container">
            <div class="col-sm-6">
                <div class="card large">
                    <section class="section dark">
                        <p>Submitted Date : {{request.submittedDate | date}}</p>
                        <p>Date Needed : {{request.dateNeeded | date}}</p>
                        <p>Person Requesting : {{request.user.firstName}} {{request.user.lastName}}</p>
                        <p>Description : {{request.description}}</p>
                        <p>Justification : {{request.justification}}</p>
                        <p>Delivery Mode : {{request.deliveryMode}}</p>
                        <p>Status : {{request.status}}</p>
                        <p>Reason For Rejection : {{request.rejectionReason}}</p><br>
                        <p class="lineItemsHeader">List of Line Items :</p>

                        <table class="table">  
                            <thead>
                
                                <tr>
                                    <th scope="col">Part Number</th>
                                    <th scope="col">Product Description</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr> 
                
                            </thead>
                
                            <tbody>
                
                                
                                <tr>
                                    <td scope="row"> </td>
                                    <td scope="row"> </td>
                                    <td scope="row"> </td>
                                    <td scope="row"> </td>
                                    <td scope="row"> </td>
                                    <td scope="row"> </td>                                 
                                    <td>
                                        <a routerLink="/request/edit/{{ request.id }}">
                                            <img class="icon" src="../../../assets/edit.png"></a>
                                    </td>
                                    <td> 
                                        <a routerLink="">
                                        <img class="icon" src="../../../assets/delete.png"></a>
                                    </td>
                                </tr>
                
                            </tbody>
                        </table> 

                        <button type="edit">Edit</button>
                        <button (click)="delete()">Delete</button>
                    </section>
                </div>
            </div>
        </div>
    
    
    
    <app-footer></app-footer>
    </body>