<app-menu></app-menu>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ pageTitle }}</h5>
        <table class="table">  
            
            <tbody>
                <tr *ngFor="let request of requests"></tr>
                <tr scope="row">{{ request.submittedDate }}</tr>
                <tr scope="row">{{ request.dateNeeded }}</tr>
                <tr scope="row">{{request.user.username}}</tr>
                <tr scope="row">{{ request.description }}</tr>
                <tr scope="row">{{ request.justification }}</tr>
                <tr scope="row">{{ request.deliveryMode }}</tr>
                <tr scope="row">{{ request.status }}</tr>
            </tbody>

        </table>   

            <app-line-item-list></app-line-item-list>

            <button routerLink="/line-item/review/{{request.id}}"></button>
         
         
    </div>
</div>

<app-footer></app-footer>