<app-menu></app-menu>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ pageTitle }}</h5>

        <a routerLink="/user/create">
            <button>+ NEW USER</button>   
          </a> 

        <table class="table">  
            <thead>

                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Reviewer</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                </tr> 

            </thead>

            <tbody>

                <tr *ngFor="let user of users">
                    <td scope="row">{{ user.firstName }}</td>
                    <td scope="row">{{ user.lastName }}</td>
                    <td scope="row">{{ user.username }}</td>
                    <td scope="row">{{ user.phone }}</td>
                    <td scope="row">{{ user.email }}</td>
                    <td scope="row">{{ user.isAdmin }}</td>
                    <td scope="row">{{ user.isReviewer }}</td>
                    <td> 
                        <a routerLink="/user/detail/{{ user.id }}">
                        <img class="icon" src="../../../assets/detail.png"></a>
                    </td>

                    <td>
                        <a routerLink="/user/edit/{{ user.id }}">
                            <img class="icon" src="../../../assets/edit.png"></a>
                    </td>
                </tr>

            </tbody>
        </table> 
    </div>
</div>

<app-footer></app-footer>
